body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

.container {
  padding: 40px;
}

/* CHAT BUTTON */
.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #38bdf8;
  color: black;
  padding: 12px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

/* CHATBOX */
.chatbox {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  background: white;
  color: black;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* HEADER */
.chat-header {
  background: #38bdf8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* MESSAGES */
.chat-messages {
  height: 200px;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
}

/* INPUT */
.chat-input {
  display: flex;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
}

.chat-input button {
  padding: 10px;
  border: none;
  background: #38bdf8;
}
